<h1>Chess Board</h1>

<table style="border-color: black; border-width: 1px; border-style: solid;">
    <tbody>
        {{#each rowNumber in rowNumbers}}
            <tr>
                {{#each columnNumber in columnNumbers}}
                    {{chess-square rowNumber=rowNumber columnNumber=columnNumber}}
                {{/each}}
            </tr>
        {{/each}}
    </tbody>
</table>
