/**
 * JoyceCSS
 *
 * CSS version 3
 *
 * This source file is subject to the new BSD license that is available through
 * the world-wide-web at this URL:
 * http://www.opensource.org/licenses/bsd-license
 *
 * @category CSS
 * @package  JoyceCSS
 * @link     customise.php?ResetBackgroundColor=%23ffffff&ResetColor=%23333333&ResetLinkColor=%230088cc&ResetFontSize=14&ResetFontFamily=sans-serif&ResetLineColor=%23eeeeee&ResetLineHeight=1&LayoutPageWidth=1000&LayoutLeftColumnWidth=240&LayoutRightColumnWidth=340&GridColumns=12&ModuleMargin=20&MediaMargin=20&BackgroundColorHelperAlert=%23fcf8e3&BackgroundColorHelperSuccess=%23dff0d8&BackgroundColorHelperError=%23f2dede&BackgroundColorHelperInfo=%23d9edf7&BackgroundColorHelperLight=%23f5f5f5&BackgroundColorHelperDark=%23333333&BorderHelperTiny=1&BorderHelperSmall=2&BorderHelperMedium=5&BorderHelperLarge=8&BorderHelperHuge=13&BorderColorHelperAlert=%23fbeed5&BorderColorHelperSuccess=%23d6e9c6&BorderColorHelperError=%23eed3d7&BorderColorHelperInfo=%23bce8f1&BorderColorHelperLight=%23eeeeee&BorderColorHelperDark=%23333333&BorderRadiusHelperTiny=1&BorderRadiusHelperSmall=2&BorderRadiusHelperMedium=5&BorderRadiusHelperLarge=8&BorderRadiusHelperHuge=13&BoxShadowHelperTiny=1&BoxShadowHelperSmall=2&BoxShadowHelperMedium=5&BoxShadowHelperLarge=8&BoxShadowHelperHuge=13&ButtonHelperColor=%23333333&ButtonHelperHoverColor=%23333333&ButtonHelperBackgroundColor=%23f5f5f5&ButtonHelperHoverBackgroundColor=%23e6e6e6&ButtonHelperGradientTopColor=%23ffffff&ButtonHelperGradientBottomColor=%23e6e6e6&ButtonHelperBorderWidth=1&ButtonHelperBorderColor=%23e6e6e6&ButtonHelperBorderRadius=4&ColorHelperAlert=%23c09853&ColorHelperSuccess=%23468847&ColorHelperError=%23b94a48&ColorHelperInfo=%233a87ad&ColorHelperLight=%23f0f0f0&ColorHelperDark=%23333333&FontFamilyHelperSerif=serif&FontFamilyHelperSansSerif=sans-serif&FontFamilyHelperMonospace=monospace&FontSizeHelperTiny=11&FontSizeHelperSmall=12&FontSizeHelperMedium=14&FontSizeHelperLarge=18&FontSizeHelperHuge=24&HeadingHelperLevel1=color%3A+%23333333%3B+font%3A+normal+60px%2F1.5em+sans-serif%3B&HeadingHelperLevel2=color%3A+%23333333%3B+font%3A+normal+48px%2F1.5em+sans-serif%3B&HeadingHelperLevel3=color%3A+%23333333%3B+font%3A+normal+36px%2F1.5em+sans-serif%3B&HeadingHelperLevel4=color%3A+%23333333%3B+font%3A+normal+30px%2F1.5em+sans-serif%3B&HeadingHelperLevel5=color%3A+%23333333%3B+font%3A+normal+24px%2F1.5em+sans-serif%3B&HeadingHelperLevel6=color%3A+%23333333%3B+font%3A+normal+18px%2F1.5em+sans-serif%3B&SpaceHelperTiny=5&SpaceHelperSmall=10&SpaceHelperMedium=20&SpaceHelperLarge=40&SpaceHelperHuge=80&TextShadowHelperTiny=1&TextShadowHelperSmall=2&TextShadowHelperMedium=5&TextShadowHelperLarge=8&TextShadowHelperHuge=13
 */

/**
 * Reset
 *
 * @category JoyceCSS
 * @package  Reset
 */
html {
    color: #333333;
    background: #ffffff;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, figure, legend, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section { display:block; }
body {
    font: 14px/1.5em sans-serif;
    *font-size: small;
    *font: x-small;
}
p { margin-bottom: 1.5em; }
a {
    color: #0088cc;
    text-decoration: none;
}
a:hover { text-decoration: underline; }
a:active, a:focus { outline: 0; }
hr {
    color: #eeeeee;
    background: #eeeeee;
    border: none;
    height: 1px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    font: 100%;
}
fieldset, img { border: 0; }
address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}
ol, ul { list-style: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after { content: ''; }
abbr, acronym {
    border: 0;
    font-variant: normal;
}
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
pre, code, kbd, samp, tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
input, textarea, select { *font-size: 100%; }
select, input, button, textarea { font: 99% sans-serif; }
legend { color: #333333; }

/**
 * Layout
 *
 * @category JoyceCSS
 * @package  Layout
 */
body { _text-align: center; }
.main {
    display: table-cell;
    *display: block;
    width: auto;
}
.body, .main { *zoom: 1; }
.body:after, .main:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0 !important;
    line-height: 0;
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}
.page {
    margin: 0 auto;
    width: 1000px;
    _text-align: left;
}
.liquid {
    width: auto;
    margin: 0;
}
.leftCol {
    float: left;
    width: 240px;
    _margin-right: -3px;
}
.rightCol {
    float: right;
    width: 340px;
    _margin-left: -3px;
}

/**
 * Grid
 *
 * @category JoyceCSS
 * @package  Grid
 */
.row, .lastCol {
    overflow: hidden;
    *overflow: visible;
    *zoom: 1;
}
.col { float:left; }
.colRight { float:right; }
.span1of1,.span2of2,.span3of3,.span4of4,.span5of5,.span6of6,.span7of7,.span8of8,.span9of9,.span10of10,.span11of11,.span12of12 { width: 100%; }
.span1of2,.span2of4,.span3of6,.span4of8,.span5of10,.span6of12 { width: 50%; }
.span1of3,.span2of6,.span3of9,.span4of12 { width: 33.333333333333%; }
.span2of3,.span4of6,.span6of9,.span8of12 { width: 66.666666666667%; }
.span1of4,.span2of8,.span3of12 { width: 25%; }
.span3of4,.span6of8,.span9of12 { width: 75%; }
.span1of5,.span2of10 { width: 20%; }
.span2of5,.span4of10 { width: 40%; }
.span3of5,.span6of10 { width: 60%; }
.span4of5,.span8of10 { width: 80%; }
.span1of6,.span2of12 { width: 16.666666666667%; }
.span5of6,.span10of12 { width: 83.333333333333%; }
.span1of7 { width: 14.285714285714%; }
.span2of7 { width: 28.571428571429%; }
.span3of7 { width: 42.857142857143%; }
.span4of7 { width: 57.142857142857%; }
.span5of7 { width: 71.428571428571%; }
.span6of7 { width: 85.714285714286%; }
.span1of8 { width: 12.5%; }
.span3of8 { width: 37.5%; }
.span5of8 { width: 62.5%; }
.span7of8 { width: 87.5%; }
.span1of9 { width: 11.111111111111%; }
.span2of9 { width: 22.222222222222%; }
.span4of9 { width: 44.444444444444%; }
.span5of9 { width: 55.555555555556%; }
.span7of9 { width: 77.777777777778%; }
.span8of9 { width: 88.888888888889%; }
.span1of10 { width: 10%; }
.span3of10 { width: 30%; }
.span7of10 { width: 70%; }
.span9of10 { width: 90%; }
.span1of11 { width: 9.0909090909091%; }
.span2of11 { width: 18.181818181818%; }
.span3of11 { width: 27.272727272727%; }
.span4of11 { width: 36.363636363636%; }
.span5of11 { width: 45.454545454545%; }
.span6of11 { width: 54.545454545455%; }
.span7of11 { width: 63.636363636364%; }
.span8of11 { width: 72.727272727273%; }
.span9of11 { width: 81.818181818182%; }
.span10of11 { width: 90.909090909091%; }
.span1of12 { width: 8.3333333333333%; }
.span5of12 { width: 41.666666666667%; }
.span7of12 { width: 58.333333333333%; }
.span11of12 { width: 91.666666666667%; }
.lastCol {
    float: none;
    _left: -3px;
    _margin-right: -3px;
    _position: relative;
    width: auto;
}

/**
 * Module
 *
 * @category JoyceCSS
 * @package  Module
 */
.mod { margin: 20px; }
.bd, .ft, .hd {
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
}

/**
 * Media
 *
 * @category JoyceCSS
 * @package  Media
 */
.media {
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
}
.media .img {
    float: left;
    margin-right: 20px;
}
.media .img img { display:block; }
.media .imgExt {
    float: right;
    margin-left: 20px;
}

/**
 * Background Color
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Background.Color
 */
.bgAlert { background-color: #fcf8e3; }
.bgSuccess { background-color: #dff0d8; }
.bgError { background-color: #f2dede; }
.bgInfo { background-color: #d9edf7; }
.bgLight { background-color: #f5f5f5; }
.bgDark { background-color: #333333; }

/**
 * Border
 *
 * b = border
 * a/t/r/b/l = all/top/right/bottom/left
 * t/s/m/l/h = tiny/small/medium/large/huge
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Border
 */
.bat, .btt { border-top: 1px solid; }
.bas, .bts { border-top: 2px solid; }
.bam, .btm { border-top: 5px solid; }
.bal, .btl { border-top: 8px solid; }
.bah, .bth { border-top: 13px solid; }
.bat, .brt { border-right: 1px solid; }
.bas, .brs { border-right: 2px solid; }
.bam, .brm { border-right: 5px solid; }
.bal, .brl { border-right: 8px solid; }
.bah, .brh { border-right: 13px solid; }
.bat, .bbt { border-bottom: 1px solid; }
.bas, .bbs { border-bottom: 2px solid; }
.bam, .bbm { border-bottom: 5px solid; }
.bal, .bbl { border-bottom: 8px solid; }
.bah, .bbh { border-bottom: 13px solid; }
.bat, .blt { border-left: 1px solid; }
.bas, .bls { border-left: 2px solid; }
.bam, .blm { border-left: 5px solid; }
.bal, .bll { border-left: 8px solid; }
.bah, .blh { border-left: 13px solid; }

/**
 * Border Color
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Border.Color
 */
.bcAlert { border-color: #fbeed5; }
.bcSuccess { border-color: #d6e9c6; }
.bcError { border-color: #eed3d7; }
.bcInfo { border-color: #bce8f1; }
.bcLight { border-color: #eeeeee; }
.bcDark { border-color: #333333; }

/**
 * Border Radius
 *
 * br = border radius
 * a/tl/tr/bl/br = all/top-left/top-right/bottom-left/bottom-right
 * s/m/l = small/medium/large
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Border.Radius
 */
.bras, .brtls {
    -moz-border-radius-topleft: 2px !important;
    -webkit-border-top-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
}
.bram, .brtlm {
    -moz-border-radius-topleft: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}
.bral, .brtll {
    -moz-border-radius-topleft: 8px !important;
    -webkit-border-top-left-radius: 8px !important;
    border-top-left-radius: 8px !important;
}
.bras, .brtrs {
    -moz-border-radius-topright: 2px !important;
    -webkit-border-top-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
}
.bram, .brtrm {
    -moz-border-radius-topright: 5px !important;
    -webkit-border-top-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}
.bral, .brtrl {
    -moz-border-radius-topright: 8px !important;
    -webkit-border-top-right-radius: 8px !important;
    border-top-right-radius: 8px !important;
}
.bras, .brbls {
    -moz-border-radius-bottomleft: 2px !important;
    -webkit-border-bottom-left-radius: 2px !important;
    border-bottom-left-radius: 2px !important;
}
.bram, .brblm {
    -moz-border-radius-bottomleft: 5px !important;
    -webkit-border-bottom-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
.bral, .brbll {
    -moz-border-radius-bottomleft: 8px !important;
    -webkit-border-bottom-left-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
}
.bras, .brbrs {
    -moz-border-radius-bottomright: 2px !important;
    -webkit-border-bottom-right-radius: 2px !important;
    border-bottom-right-radius: 2px !important;
}
.bram, .brbrm {
    -moz-border-radius-bottomright: 5px !important;
    -webkit-border-bottom-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}
.bral, .brbrl {
    -moz-border-radius-bottomright: 8px !important;
    -webkit-border-bottom-right-radius: 8px !important;
    border-bottom-right-radius: 8px !important;
}

/**
 * Box Shadow
 *
 * bs = box-shadow
 * a/t/r/b/l = all/top/right/bottom/left
 * s/m/l = small/medium/large
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Box.Shadow
 */
.bsas {
    -moz-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.bsts {
    -moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.1);
}
.bsrs {
    -moz-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.bsbs {
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.bsls {
    -moz-box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.bsam {
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.bstm {
    -moz-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.1);
}
.bsrm {
    -moz-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.bsbm {
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.bslm {
    -moz-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -5px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.bsal {
    -moz-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.bstl {
    -moz-box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.1);
}
.bsrl {
    -moz-box-shadow: 8px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 8px 0px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 8px 0px 8px 0px rgba(0, 0, 0, 0.1);
}
.bsbl {
    -moz-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
}
.bsll {
    -moz-box-shadow: -8px 0px 8px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -8px 0px 8px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -8px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

/**
 * Button
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Button
 */
.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 14px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 1.5em;
    *line-height: 1.5em;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #f5f5f5;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #e6e6e6;
    *border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:dximagetransform.microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn:hover, .btn:active, .btnDisabled {
    color: #333333;
    background-color: #e6e6e6;
}
.btn:first-child { *margin-left: 0; }
.btn:hover {
    color: #333333;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}
.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btnDisabled {
    cursor: default;
    background-image: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/**
 * Color
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Color
 */
.alert { color: #c09853; }
.success { color: #468847; }
.error { color: #b94a48; }
.info { color: #3a87ad; }
.light { color: #f0f0f0; }
.dark { color: #333333; }

/**
 * Display
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Display
 */
.block { display: block; }
.hide { display: none; }
.inline { display: inline; }
.inlineBlock { display: inline-block; }

/**
 * Font Family
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Font.Family
 */
.serif { font-family: serif; }
.sansSerif { font-family: sans-serif; }
.monospace { font-family: monospace; }

/**
 * Font Size
 *
 * fs = font-size
 * t/s/m/l/h = tiny/small/medium/large/huge
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Font.Size
 */
.fst {
    font-size: 11px;
    line-height: 1.5em;
}
.fss {
    font-size: 12px;
    line-height: 1.5em;
}
.fsm {
    font-size: 14px;
    line-height: 1.5em;
}
.fsl {
    font-size: 18px;
    line-height: 1.5em;
}
.fsh {
    font-size: 24px;
    line-height: 1.5em;
}

/**
 * Heading
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Heading
 */
h1, .h1 { color: #333333; font: normal 60px/1.5em sans-serif; }
h2, .h2 { color: #333333; font: normal 48px/1.5em sans-serif; }
h3, .h3 { color: #333333; font: normal 36px/1.5em sans-serif; }
h4, .h4 { color: #333333; font: normal 30px/1.5em sans-serif; }
h5, .h5 { color: #333333; font: normal 24px/1.5em sans-serif; }
h6, .h6 { color: #333333; font: normal 18px/1.5em sans-serif; }

/**
 * Line Height
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Line.Height
 */
.veryTight { line-height: 1em; }
.tight { line-height: 1.25em; }
.loose { line-height: 1.75em; }
.veryLoose { line-height: 2em; }

/**
 * Position
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Position
 */
.absolute { position: absolute; }
.fixed { position: fixed; }
.relative { position: relative; }
.static { position: static; }
.front { z-index: 999; }
.back { z-index: -999; }

/**
 * Space
 *
 * p/m = padding/margin
 * a/t/r/b/l/h/v = all/top/right/bottom/left/horizontal/vertical
 * n/t/s/m/l/h = none/tiny/small/medium/large/huge
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Space
 */
.ptn, .pvn, .pan { padding-top: 0px !important; }
.ptt, .pvt, .pat { padding-top: 5px !important; }
.pts, .pvs, .pas { padding-top: 10px !important; }
.ptm, .pvm, .pam { padding-top: 20px !important; }
.ptl, .pvl, .pal { padding-top: 40px !important; }
.pth, .pvh, .pah { padding-top: 80px !important; }
.prn, .phn, .pan { padding-right: 0px !important; }
.prt, .pht, .pat { padding-right: 5px !important; }
.prs, .phs, .pas { padding-right: 10px !important; }
.prm, .phm, .pam { padding-right: 20px !important; }
.prl, .phl, .pal { padding-right: 40px !important; }
.prh, .phh, .pah { padding-right: 80px !important; }
.pbn, .pvn, .pan { padding-bottom: 0px !important; }
.pbt, .pvt, .pat { padding-bottom: 5px !important; }
.pbs, .pvs, .pas { padding-bottom: 10px !important; }
.pbm, .pvm, .pam { padding-bottom: 20px !important; }
.pbl, .pvl, .pal { padding-bottom: 40px !important; }
.pbh, .pvh, .pah { padding-bottom: 80px !important; }
.pln, .phn, .pan { padding-left: 0px !important; }
.plt, .pht, .pat { padding-left: 5px !important; }
.pls, .phs, .pas { padding-left: 10px !important; }
.plm, .phm, .pam { padding-left: 20px !important; }
.pll, .phl, .pal { padding-left: 40px !important; }
.plh, .phh, .pah { padding-left: 80px !important; }
.mtn, .mvn, .man { margin-top: 0px !important; }
.mtt, .mvt, .mat { margin-top: 5px !important; }
.mts, .mvs, .mas { margin-top: 10px !important; }
.mtm, .mvm, .mam { margin-top: 20px !important; }
.mtl, .mvl, .mal { margin-top: 40px !important; }
.mth, .mvh, .mah { margin-top: 80px !important; }
.mrn, .mhn, .man { margin-right: 0px !important; }
.mrt, .mht, .mat { margin-right: 5px !important; }
.mrs, .mhs, .mas { margin-right: 10px !important; }
.mrm, .mhm, .mam { margin-right: 20px !important; }
.mrl, .mhl, .mal { margin-right: 40px !important; }
.mrh, .mhh, .mah { margin-right: 80px !important; }
.mbn, .mvn, .man { margin-bottom: 0px !important; }
.mbt, .mvt, .mat { margin-bottom: 5px !important; }
.mbs, .mvs, .mas { margin-bottom: 10px !important; }
.mbm, .mvm, .mam { margin-bottom: 20px !important; }
.mbl, .mvl, .mal { margin-bottom: 40px !important; }
.mbh, .mvh, .mah { margin-bottom: 80px !important; }
.mln, .mhn, .man { margin-left: 0px !important; }
.mlt, .mht, .mat { margin-left: 5px !important; }
.mls, .mhs, .mas { margin-left: 10px !important; }
.mlm, .mhm, .mam { margin-left: 20px !important; }
.mll, .mhl, .mal { margin-left: 40px !important; }
.mlh, .mhh, .mah { margin-left: 80px !important; }

/**
 * Text
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Text
 */
.txtC { text-align: center; }
.txtL { text-align: left; }
.txtR { text-align: right; }
.txtT { vertical-align: top; }
.txtB { vertical-align: bottom; }
.txtM { vertical-align: middle; }

/**
 * Text Shadow
 *
 * ts = text-shadow
 * a/t/r/b/l = all/top/right/bottom/left
 * s/m/l = small/medium/large
 *
 * @category   JoyceCSS
 * @package    Helper
 * @subpackage Text.Shadow
 */
.tsas {
    -moz-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.tsts {
    -moz-text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
}
.tsrs {
    -moz-text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.1);
}
.tsbs {
    -moz-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.tsls {
    -moz-text-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
    text-shadow: -2px 0px 2px rgba(0, 0, 0, 0.1);
}
.tsam {
    -moz-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.tstm {
    -moz-text-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
}
.tsrm {
    -moz-text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 5px 0px 5px rgba(0, 0, 0, 0.1);
}
.tsbm {
    -moz-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.tslm {
    -moz-text-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1);
    text-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1);
}
.tsal {
    -moz-text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}
.tstl {
    -moz-text-shadow: 0px -8px 8px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px -8px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 0px -8px 8px rgba(0, 0, 0, 0.1);
}
.tsrl {
    -moz-text-shadow: 8px 0px 8px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 8px 0px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 8px 0px 8px rgba(0, 0, 0, 0.1);
}
.tsbl {
    -moz-text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}
.tsll {
    -moz-text-shadow: -8px 0px 8px rgba(0, 0, 0, 0.1);
    -webkit-text-shadow: -8px 0px 8px rgba(0, 0, 0, 0.1);
    text-shadow: -8px 0px 8px rgba(0, 0, 0, 0.1);
}